
$font-src:      '/static/fonts/';

$blue:      #2676B3;
$magenta:   #B63DBF;

$white:     #FFFFFF;
$gray-1:    #E1E2E4;
$gray-2:    #B1B6C0;
$gray-3:    #656F7A;
$gray-4:    #181818;

$sm-width:  360px;
$md-width:  768px;
$lg-width:  1200px;
$xl-width:  1440px;
$hd-width:  1920px;